.collection.gallery{

	.gallery-row{
		@include flex-row();
	}

	.gallery-item{
		@include flex( 1 );
		margin-right:30px;

		img{
			max-width:100%;
			height:auto;
		} 

		&:last-of-type{
			margin-right:0;
		}
	}

	&.masonry{

		display:block;
		width:100% !important;

		.gallery-item{
			@include flex( none );
			@include box-sizing( border-box );
			@include omega();
			width:32%;			
			display:block;
		}
	}
}