.slide-thumbs{
	width:100%;
	text-align:center;
	padding-bottom:15px;
}

.slide-thumbs .slide-thumb{
	display:inline-block;
	max-width:75px;
	height:auto;
	padding-right:10px;
}

.slide-thumbs .slide-thumb img{
	max-width:100%;
	height:auto;
}